@page "/editar_livro/{Id:int}"
@rendermode InteractiveServer

@using BCP.Components.Pages.Share
@using BCP.Models
@using BCP.Services

@inject BookOperation Operation
@inject NavigationManager Navigation

<PageTitle>Editar Livro</PageTitle>

@if (_book is null)
{
    <div class="d-flex justify-content-center align-items-center p-4">
        <div class="alert alert-warning d-flex gap-2 mb-0">
            <span>Livro não encontrado.</span>
        </div>
    </div>
}
else
{
    <EditForm Model="@_book" OnValidSubmit="@UpdateDataBook" class="needs-validation">
        <DataAnnotationsValidator/>
        <Form Book="@_book"></Form>
                    
        <!-- Botões de Ação -->
        <div class="d-flex flex-wrap gap-2 justify-content-end">
            <!-- Cancelar -->
            <a class="btn btn-outline-secondary" href="/">Cancelar</a>

            <!-- Atualizar -->
            <button type="submit" class="btn btn-success">Atualizar</button>
        </div>
    </EditForm>
}

<FeedbackToast Success="@_success" Message="@_message"/>

@code {
    [Parameter] public int Id { get; set; }
    private Book? _book;
    private string? _message;
    private bool _success;

    /// <summary>
    /// Carrega os dados do livro para edição com base no ID fornecido na URL.
    /// Tenta buscar o livro usando o serviço de operação e, em caso de falha, exibe uma mensagem de erro.
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        try
        {
            _book = await Operation.FindBookByIdAsync(Id);
        }
        catch
        {
            _success = false;
            _message = "Erro ao carregar os dados.";
        }
    }

    /// <summary>
    /// Atualiza os dados do livro na base de dados e exibe uma mensagem de sucesso ou erro.
    /// Se a atualização for bem-sucedida, aguarda um momento e navega de volta para a página inicial. Caso contrário, exibe uma mensagem de erro.
    /// </summary>
    private async Task UpdateDataBook()
    {
        if (_book is null) return;
        try
        {
            await Operation.UpdateDataBookAsync(_book);

            _success = true;
            _message = "Os dados foram atualizados!";
            
            await Task.Delay(1000);
            Navigation.NavigateTo("/");
        }
        catch
        {
            _success = false;
            _message = "Não foi possível atualizar os dados.";
        }
    }
}