@page "/"
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Components.QuickGrid
@using BCP.Components.Pages.Share
@using BCP.Models
@using BCP.Services

@inject BookOperation Operation

<PageTitle>Catálogo de Livros</PageTitle>

<div class="container-fluid py-4">
    <div class="card mb-4">
        <div class="card-header bg-primary text-white d-flex flex-wrap gap-2 justify-content-between align-items-center">
            <h6 class="mb-0">
                Livros Catalogados
                <span class="badge bg-light text-primary ms-1">@_book.Count</span>
            </h6>

            <div class="w-100 w-sm-auto" style="max-width: 300px;">
                <input type="text" 
                       class="form-control form-control-sm" 
                       placeholder="pesquisar..."
                       @bind-value="_searchTerm" 
                       @bind-value:event="oninput" 
                       @onkeyup="FilterBook" />
            </div>
        </div>

       @if (!_book.Any())
        {
            <div class="d-flex justify-content-center align-items-center p-4">
                <div class="alert alert-info d-flex gap-2 mb-0" role="alert">
                    <i class="bi bi-info-circle-fill"></i>
                    <span>Nenhum livro catalogado.</span>
                </div>
            </div>
        }
        else
        {
            <div class="card-body">
                <div class="table-responsive">
                    <QuickGrid Items="_filterBook.AsQueryable()" Pagination="_pagination" Class="table table-hover align-middle" 
                        @key="_filterBook">
                        <PropertyColumn Property="@(e => e.Title)" Title="Título" Sortable="true" />
                        <PropertyColumn Property="@(e => e.Author)" Title="Autor" Sortable="true" />
                        <PropertyColumn Property="@(e => e.Subject)" Title="Assunto" Sortable="true"/>
                        <PropertyColumn Property="@(e => e.Gender)" Title="Género" Sortable="true"/>
                        <TemplateColumn Title="Ações" Align="Align.Right">
                            <a href="/detalhes/@context.Id" class="btn btn-info btn-sm">
                                Detalhes
                            </a>
                        </TemplateColumn>
                    </QuickGrid>
                </div>
                <Paginator State="_pagination"/>
            </div>
        }
    </div>
</div>

<InfoModal Message="@_message" Success="@_success"/>

@code {
    private readonly PaginationState _pagination = new () { ItemsPerPage = 20 };
    private List<Book> _book = [];
    private List<Book> _filterBook = [];
    private string? _message;
    private string? _searchTerm;
    private bool _success;
    
    /// <summary>
    /// Carrega a lista de livros do catálogo ao inicializar a página/componente.
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        try
        {
            _filterBook = _book = await Operation.ListBookAsync();
            _success = true;
        }
        catch (Exception error)
        {
            _message = $"Erro ao carregar a lista do(s) livro(s) do catálogo. " +
                       $"\nErro: {error.Message}";
            _success = false;
        }
        finally
        {
            _message = string.Empty;
            StateHasChanged();
        }
    }
    
    /// <summary>
    /// Filtra a lista de livros com base no termo de pesquisa inserido pelo usuário,
    /// atualizando a exibição dos resultados.
    /// </summary>
    private void FilterBook()
    {
        _filterBook = BookOperation.FilterBook(_book, _searchTerm);
    }
}
